$color : '#000';
$bgColor: #ccc;
.table{
  &-item{
    position: relative;
    flex: 1;
    height: 150rpx;
    line-height: 150rpx;
    text-align: center;
    border: solid 1rpx #ccc;
    .card{
      width: 100%;
      height: 100%;
      background: #eee;
      transform: rotateX(180deg) rotateY(180deg);
      transform-origin: center;
      perspective:800rpx;
      perspective-origin:50% 50%;
      .cover{}
    }
    .arrow{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      &-item{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60rpx;
        z-index: 9;
      }
      &-top{
        transform: translate(-50%, -150%) rotate(180deg);
      }
      &-right{
        transform: translate(100%, -50%) rotate(-90deg);
      }
      &-bottom{
        transform: translate(-50%, 50%) rotate(0);
      }
      &-left{
        transform: translate(-180%, -50%) rotate(90deg);
      }
    }
  }
}